In [17]:
import pandas as pd
df = pd.read_csv('apnastudent.csv')
df.head(5)

   score   price
0     76  9520.0
1     78  6000.0
2     86  6265.0
3     86  8954.0
4     76  3265.0

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
x_train, x_test, y_train, y_test = train_test_split(df.drop('price', axis ='columns'), df.price)

In [20]:
from sklearn import linear_model

model = linear_model.LinearRegression()

In [21]:
df.isnull()

     score  price
0    False  False
1    False  False
2    False  False
3    False  False
4    False  False
..     ...    ...
216  False  False
217  False  False
218  False  False
219  False  False
220  False  False

[221 rows x 2 columns]

In [23]:
model.fit(x_train,y_train)

LinearRegression()

In [29]:
y_pred = model.predict(x_test)

In [31]:
df1 = pd.DataFrame({'original_value':y_test, 'predict_value':y_pred})
df1

     original_value  predict_value
155     65051.19048   49390.049028
178     73909.47619   47477.586521
40      20759.76190   46202.611516
173     71983.76190   46202.611516
180     74679.76190   47796.330272
147     61970.04762   49390.049028
196     80842.04762   46202.611516
200     82382.61905   49390.049028
75      34239.76190   46202.611516
103     45023.76190   49390.049028
22      15156.92063   46202.611516
169     70443.19048   47796.330272
105     45794.04762   47796.330272
213     87389.47619   46202.611516
2        6265.00000   46202.611516
71      32699.19048   47796.330272
151     63510.61905   49390.049028
9        8857.50000   47477.586521
77      35010.04762   50346.280281
210     86234.04762   49390.049028
144     60814.61905   46202.611516
216     88544.90476   46202.611516
82      36935.76190   49390.049028
90      40016.90476   49390.049028
64      30003.19048   49390.049028
148     62355.19048   49390.049028
18      12446.96825   49390.049028
31      21254.31349   47796.330272
11       9420.50000   46202.611516
3        8954.00000   46202.611516
175     72754.04762   47796.330272
143     60429.47619   47796.330272
86      38476.33333   47796.330272
156     65436.33333   46202.611516
146     61584.90476   47477.586521
218     89315.19048   50346.280281
27      18544.36111   46202.611516
60      28462.61905   47796.330272
102     44638.61905   50346.280281
132     56192.90476   47477.586521
15      10546.50000   49390.049028
8        9854.00000   46202.611516
152     63895.76190   50346.280281
108     46949.47619   50346.280281
209     85848.90476   49390.049028
51      24996.33333   49390.049028
17      11901.47619   47796.330272
214     87774.61905   47796.330272
217     88930.04762   50346.280281
195     80456.90476   49390.049028
172     71598.61905   47796.330272
203     83538.04762   49390.049028
23      15834.40873   49390.049028
16      10828.00000   46202.611516
69      31928.90476   49390.049028
53      25766.61905   47796.330272

In [32]:
df1.to_csv('RMSE_predicted.csv')

In [33]:
from sklearn.metrics import mean_absolute_error as mae
mae_error = mae(y_test,y_pred)

In [34]:
mae_error

24424.114720505015

In [35]:
y_pred

array([49390.0490279 , 47477.58652072, 46202.61151594, 46202.61151594,
       47796.33027192, 49390.0490279 , 46202.61151594, 49390.0490279 ,
       46202.61151594, 49390.0490279 , 46202.61151594, 47796.33027192,
       47796.33027192, 46202.61151594, 46202.61151594, 47796.33027192,
       49390.0490279 , 47477.58652072, 50346.28028149, 49390.0490279 ,
       46202.61151594, 46202.61151594, 49390.0490279 , 49390.0490279 ,
       49390.0490279 , 49390.0490279 , 49390.0490279 , 47796.33027192,
       46202.61151594, 46202.61151594, 47796.33027192, 47796.33027192,
       47796.33027192, 46202.61151594, 47477.58652072, 50346.28028149,
       46202.61151594, 47796.33027192, 50346.28028149, 47477.58652072,
       49390.0490279 , 46202.61151594, 50346.28028149, 50346.28028149,
       49390.0490279 , 49390.0490279 , 47796.33027192, 47796.33027192,
       50346.28028149, 49390.0490279 , 47796.33027192, 49390.0490279 ,
       49390.0490279 , 46202.61151594, 49390.0490279 , 47796.33027192])

In [36]:
# # import math
# a = 0
# for i in range(7):
#     a +=

In [37]:
from sklearn.metrics import mean_squared_error as mse
mse_error = mae(y_test,y_pred)

In [38]:
mse_error

24424.114720505015